{% extends 'base.html.twig' %}

{% block content %}
    <h1>Page not found</h1>

    <p>
        {% if exception.message %}
            {{ exception.message }}
        {% else %}
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('app_web_default_index') }}">return to the homepage</a>.
        {% endif %}
    </p>
{% endblock %}