{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <a href="{{ path('student_profile_list') }}" class="btn btn-primary">Go to search page</a>
        </div>
    </div>
{% endblock %}