{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</div>
        </div>
    </div>
{% endblock content %}
