{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success">
                {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
                <a class="btn btn-sm btn-default" href="{{ path('app_web_default_index') }}">Go to your homepage</a>
            </div>
        </div>
    </div>
{% endblock content %}
