# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     iproject
    database_user:     root
    database_password: 123456

    mailer_transport:  gmail
    mailer_host:       ~
    mailer_user:       gs1cvproject@gmail.com
    mailer_password:   7QQiUt2m

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    locale:            en

    file_upload.resume_prefix: resume
    file_upload.avatar_prefix: avatar

    amazon_s3.key: 'key'
    amazon_s3.secret: 'secret'
    amazon_s3.region: 'ap-southeast-2'
    amazon_s3.bucket: 'gs1'

    elastic.host: localhost
    elastic.port: 9200
    elastic.authorization_header: ~
