{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_tag %}
<body class="change-password-page">
{% endblock body_tag %}

{% block content %}
<div class="row toolkit">
    <div class=" col-sm-8 col-sm-offset-2">
        <div class="content-module-wrapper top-border-lime">
            <div class="content-module content-module-padding">
                <h3>Change password</h3>

                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                    {{ form_widget(form) }}

                    {{ form_rest(form) }}
                    <div class="row">
                        <div class="col-xs-8">
                        </div>
                        <div class="col-xs-4">
                            <input class="btn btn-primary btn-block btn-flat" type="submit" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
