{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ mopa_bootstrap_icon('cogs') }} GS1 Project: Post your CV</h2>
        </div>
    </div>
{% endblock %}