a {
    color: #337ab7;
    text-decoration: none;
}
a, a:hover, a:active {
    text-decoration: none;
    cursor: auto;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline-color: transparent;
    outline-style: none;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #1DA3C3 !important;
}

.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-waring, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
    color: #fff !important;
}

.alert-warning{
    background-color: #FFAD24 !important;
}

.alert-danger, .alert-error {
    border-color: #d73925;
}
.alert-success {
    border-color: #008d4c;
}
.alert-info {
    border-color: #0C829E;
}

.filter{
    .control-label{
        text-align: left;
    }
}

.form-control {
    border-radius: 0 !important;
    box-shadow: none;
    border-color: #d2d6de;
    height: 34px !important;
}

textarea.form-control{
    height: auto !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-checkbox.active::before {
    content: "\e067";
}
.btn-checkbox::before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    content: "\e157";
    font-size: 14px;
    line-height: 14px;
}

.btn-danger, .btn-info, .btn-warning{
    color: white !important;
}

.toolkit .content-module h5, .toolkit .content-module h4 {
    border-bottom: none !important;
}

.toolkit .headroom .navigation {
    margin-bottom: 50px;
}

.toolkit .panel {
    margin-bottom: 40px;
}
.toolkit .panel:nth-last-child(1) {
    margin-bottom: 20px;
}

.nav-pills{
    li{
        padding: 0px !important;
        margin: 0px !important;
        a{
            margin: 0px !important;
            border: none;
            padding: 10px 15px;
        }
    }
    li.active{
        padding: 0px;
        border: none;
    }
}

.panel #filters{
    label{
        color: #333;
        font-weight: 300;
        margin-top: 15px;
    }
    .form-group {
    }
}

.toolkit .nav-tabs > li.active > a,
.toolkit .nav-tabs > li.active > a:hover,
.toolkit .nav-tabs > li.active > a:focus,
.toolkit .nav-pills > li.active > a,
.toolkit .nav-pills > li.active > a:hover,
.toolkit .nav-pills > li.active > a:focus {
    background: #eee;
    border: none;
    border-bottom: 1px solid #ccc;
}
.toolkit {
    .small p{
        font-size: 14px;
        line-height: 24px;
    }

    .btn-form-item {
        padding: 7px 10px;
        height: 34px;
        font-size: 14px;
        border-radius: 0;
    }

    ul.inline.link-list {
        padding: 0px;
        margin-left: 0px;
    }

    ul.inline li {
        display: inline-block;
        border-bottom: medium none;
    }

    a {
        display: inline-block;
        font-size: 1em;
    }

    .well{
        background-color: #eee;
        border: 1px solid #e3e3e3;
        border-radius: 0px;
    }

    .media{
        background: #f4f4f4;
    }

    .media:hover{
        background: #e2e2e2;
    }

    .media-left, .media-right, .media-body{
        display: table-cell;

        h4 {
            margin: 15px 0 15px;
        }

        p{
            font-weight: 300;
        }
    }

    .media-right .btn{
        margin-right: 15px;
    }

    .pagination {
        li span{
            background-color: #f4f4f4;
            font-weight: 300;
        }
        a {
            font-weight: 300;
            border: 1px solid #ddd;
        }
        .active span {
            background-color: #002c6c;
            pointer-events: none;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        .disabled span {
            background-color: #f4f4f4;
        }
    }

    .modal-dialog, .modal-content{
        border: none;
    }
}

.toolkit .logo1 p {
    font-size: 16px;
    line-height: 20px;
    position: static;
    top: 3px;
}

body {
    @media (max-width: 766px){
        padding-top: 120px;
    }

    padding-top: 215px;
}

footer {
    border-top: 1px solid #B1B3B3;
    margin: 50px 0px 20px 0px;

    a {
        font-weight: 300 !important;
    }

    ul {
        list-style-type: none;
        margin-bottom: 20px;
        padding: 0px;

        li {
            line-height: 1em;
            margin-bottom: 7px;
            a {
                font-size: 1em;
            }
            > a {
                font-size: 0.8em;
            }
        }
    }

    .newsletter h4 {
        float: right;
        text-align: left;
        width: 223px;
    }

    .footer-contact {
        color: #F26334;
        display: block;
        font-size: 32px;
    }

    .footer-links {
        border-top: 1px solid #DFDFE5;
        color: #666;
        font-size: 14px;
        padding-left: 0px;
        padding-top: 10px;
        margin-top: 20px;

        p {
            color: #666;
            font-size: 14px;
        }

        span {
            display: inline-block;
            margin-right: 12px;
        }
    }

    .footer-links ul {
        display: inline-block;
    }
}



img.student-avatar{
    max-width: 80px;
    max-height: 80px;
}


// Fix collection form style
.collection-items.form-group { margin-bottom: 0px; }
.collection-items .symfony-form-errors { display: none; }
.collection-item, .form-group .collection-item {
    margin-top: 7px;
    margin-bottom: 0px;
}
.collection-item{
    div{
        padding-left: 0px;
    }
}