{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block navbar %}
{% endblock navbar %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger">{{ 'resetting.password_already_requested'|trans }}</div>
        </div>
    </div>
{% endblock content %}
