{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_tag %}
<body class="request-password-page">
{% endblock body_tag %}

{% block content %}
    <div class="row">
        <div class="request-password-box col-sm-8 col-sm-offset-2">
            <div class="content-module-wrapper top-border-lime">
                <div class="content-module content-module-padding">
                    <span class="request-password-box-msg">Request new password</span>

                    <div class="request-password-box-body">
                        <form action="{{ path("fos_user_resetting_send_email") }}" method="POST" role="form">
                            <div class="form-group has-feedback">
                                <input class="form-control" placeholder="Email address" type="text" id="username"
                                       name="username" required="required"/>
                                {% if invalid_username is defined %}
                                    <div class="">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
                                {% endif %}
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>

                            <div class="row">
                                <div class="col-sm-7 col-md-8">
                                </div>
                                <div class="col-sm-5 col-md-4">
                                    <input class="btn btn-primary btn-block btn-flat" type="submit"
                                           value="{{ 'resetting.request.submit'|trans }}"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
