{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form, {'action': path('student_profile_edit', {'id':user.id}),'method': 'POST','attr': {'class':'well'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}